server:
  port: 8080
spring:
  application:
    name: gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: project-service
              uri: lb://project-service
              predicates:
                - Path=/project/**
            - id: employee-service
              uri: lb://employee-service
              predicates:
                - Path=/employee/**

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/

